  @import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
/* --------------------------------------------
  * 공통 클래스 */

  .reset-list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
  }
  
  .button {
    cursor: pointer;
    border: none;
  }
  
  .a11y-hidden {
    overflow: hidden;
    position: absolute !important;
    top: -9999em;
    clip: rect(0, 0, 0, 0);
    clip-path: polygon(0 0, 0 0, 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
  ::-moz-selection {
    background: #233d84;
    color: #ffffff;
  }
  
  ::selection {
    background: #233d84;
    color: #ffffff;
  }

  body * {
    -webkit-tap-highlight-color: rgba(255, 255, 200, 0.3);
    tap-highlight-color: rgba(255, 255, 200, 0.3);
  }
  
  body {
    font-family: 'Spoqa Han Sans', 'Sans-serif';
    font-size: 1.6rem;
    margin: 0;
    max-width: 100vw;
    min-height: 100vh;
  }
  
  nav a {
    color: inherit;
    text-decoration: none;
  }
  
  a img {
    vertical-align: middle;
  }

/*------------------공통 클래스 끝-------------------*/


/* 헤더 디자인 */
  .app-header{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    border-bottom: solid 1px #f5f4fb;
    }
  
  .brand{
    margin:0;
    line-height: 16px;
    padding: 2px;
  }

  .brand a{
    display: block;
    padding: 30px;
  }

  .respons{
    max-width: 100%;
    height: auto;
  }

  /* ---------------------메인메뉴 열기버튼--------------------- */
  .is-open-menu{
    background-color: #fff;
    padding: 33px 28px;
  }
  .is-open-menu .ir{
    display: inline-block;
    width: 26px;
    height: 22px;
    background-image: url(../images/navigation-button.gif);
    background-repeat: no-repeat;
    background-position: 50% 50%;

  
}

/* -----------------앱 네비게이션 시작------------------- */

.app-navigation{
    display: flex;
    background-color: black;
    opacity: 90%;
    color:#fff;
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    height:100vh;
    flex-direction: column;
}

.app-navigation ul{
        padding: 10px;
    }
  
.app-navigation li{  
      border-bottom:0.5px solid rgba(245, 244, 251, 0.3);
  }

.app-navigation a{
    font-size: 16px;
    font-weight: 500;
    display:block;
    padding: 10px;
    transition: all 0.4s ease;
  }  
.app-navigation a:hover{
    background-color: #2e437c;
    color: rgb(255, 255, 138);
}
.is-close-menu{
    order:-1;
    background-color: inherit;
    align-self: flex-end;
    padding:18px;
}
.is-close-menu .close{
    color:white;
}